@import "reuse"
$border-color: #e9e9e9
$round: .375rem
$view-height: 100vh
$header-height: 80px
$footer-height: 80px
\:root
  --h2-font-color: #2c3e50
  --date-font-colro: #9CA3AF
  --background-1: #f4f4f5
  --main-color: #0e7490

// 去除 safari 选中后的蓝框
input:focus
  outline: none
textarea:focus
  outline: none

// 黑暗主题
.dark-theme
  background-color: #0b1c2c
  --h2-font-color: #fff
  --date-font-colro: #fff

// 头部
.header
  display: flex
  height: $header-height
  align-items: center
  justify-content: space-between
  nav
    display: flex
    a
      margin-right: 10px
      margin-left: 10px

// 底部
.footer
  display: flex
  height: $footer-height
  justify-content: center
  div
    margin-top: 20px
    font-size: 13px

// 内容区域
.content
  display: flex
  align-items: center
  flex-direction: column
  flex: 1

// 翻页
.paging
  display: flex
  justify-content: center
  margin-top: 20px
  .prev-page
    margin: 0 32px
    padding: 6px 0
    span
      color: #0e7490
      text-decoration: none
      font-weight: 500
      box-shadow: inset 0 -.125em 0 0 #fff,inset 0 -.375em 0 0 rgba(165,243,252,.4)
  .next-page
    margin: 0 32px
    padding: 6px 0

// 文章
.post-container
  display: flex
  margin-top: 20px
  h2
    color: var(--h2-font-color)
    font-weight: 600
    @apply text-xl
  p
    color: var(--h2-font-color)
  .post-content
    display: flex
    flex-direction: column
    justify-content: space-between
    border: 1px solid rgb(224, 224, 230)
    width: 100%
    max-width: 500px
    margin-top: 20px
    margin-bottom: 10px
    box-shadow: rgb(224, 224, 230) 0px 0px 2px
    border-radius: 5px
    article
      height: 65%
      padding: 20px
    .post-info
      display: flex
      align-items: center
      padding: 10px 20px
      border-top: 1px solid #F5F5F5
      height: 35%
      span
        padding: 0 10px 0 10px
      p
        font-size: 12px
      .like
        color: #F87171
        padding: 0 0 0 5px

// 全局容器
.global-container
  display: flex
  flex-direction: column
  padding-left: 4vw
  padding-right: 4vw
  margin-left: auto
  margin-right: auto
  min-height: $view-height
  max-width: 1000px

.article-container
  display: flex
  flex-direction: column
  max-width: 800px
  margin-left: auto
  margin-right: auto
  padding-left: 2vw
  padding-right: 2vw

.post-header
  display: flex
  justify-content: center
  margin-top: 20px
  [type='button']
    --n-bezier: none !important
    --n-bezier-ease-out: none !important
    --n-ripple-duration: none !important
    --n-opacity-disabled: none !important
    --n-wave-opacity: none !important
    box-shadow: 0px 0px 1px rgb(224, 224, 230)
    border-radius: 5px
    width: 120px

// 文章底部版权设置
.cc-border
  border: 2px solid #e9e9e9
  border-radius: .375rem
  margin-left: 32px
  margin-right: 32px
  @include Background-picture('../static/cc.png', 130px, 90%)
  div
    padding: 10px
    font-size: 13px
    color: #3D4F5F
    a
      text-decoration: none
      font-weight: 500
      box-shadow: inset 0 -.125em 0 0 rgba(165,243,252,.4),inset 0 -.375em 0 0 rgba(165,243,252,.4)

// 底部导航
.navigation
  display: flex
  margin-top: 20px
  font-size: 13px
  margin-left: 32px
  margin-right: 32px
  color: #2c3e50
  font-weight: bold

.post-footer
  margin-bottom: 20px
  margin-top: 20px

.post-copyright
  display: flex
  justify-content: center
  margin-top: 20px
  a
    color: #8491a6

.article-title
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 20px
  color: #2C3E50
  .author
    text-align: center
    h1
      font-size: 35px
    span
      font-size: 12px
    a
      font-size: 12px

// 评论
.comments
  border: 1px solid #e8e8e8
  border-radius: 4px
  margin-bottom: 15px
  background-color: #ffffff
  .comments-info
    display: flex
    border-radius: 5px 5px 0 0
    input
      width: 100%
      padding: 8px 12px
      border-bottom: 1px solid #e8e8e8
      // 去除 safari 默认的圆角边框
      border-radius: 0
    input:nth-child(2)
      border-left: 1px solid #e8e8e8
    input:nth-child(3)
      border-left: 1px solid #e8e8e8
  .comments-input
    display: flex
    padding: 10px 12px
    border-bottom: 1px solid #e8e8e8
    textarea
      width: 100%
      min-height: 130px
      resize: none
  .comments-submit
    display: flex
    flex: 2
    .icon
      flex: 2
      padding: 6px 10px 3px 5px
    .submit-button
      flex: 1
      button
        width: 100%
        height: 100%
        background-color: #1976D2
        color: #ffffff
      button:hover
        background-color: #2196F3

.comments-list-header
  display: flex
  justify-content: space-between
  h1
    font-size: 16px
  p
    color: #8491a6
    font-size: 12px

// 目录
.menu
  display: flex
  padding: 20px 32px 1px
  [class="n-collapse-item__header-main"]
    border: 2px solid #e8e8e8
    border-radius: 5px
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 10px
  [class="n-collapse-item__content-inner"]
    padding-left: 10px
  #h2
    border-left: 8px solid
    border-color: #F4F4F5
    padding-left: 5px
    margin-bottom: 5px
  #h3
    border-left: 8px solid
    border-color: #F4F4F5
    padding-left: 5px
    margin-bottom: 5px
    margin-left: 20px
  #h4
    margin-left: 40px
    border-left: 8px solid
    border-color: #F4F4F5
    padding-left: 5px
    margin-bottom: 5px
  #h5
    margin-left: 60px
    border-left: 8px solid
    border-color: #F4F4F5
    padding-left: 10px
    margin-bottom: 5px

// 定义按钮样式
@mixin suspend-button($height)
  background-color: #fff
  width: 40px
  height: 40px
  border-radius: 50%
  color: #2D3E50
  display: flex
  align-items: center
  justify-content: center
  font-size: 20px
  box-shadow: 0 0 6px rgba(0,0,0,.12)
  cursor: pointer
  position: fixed
  right: 5%
  bottom: $height
  z-index: 99
  &:hover
    color: #2276D2
  &:active
    color: #0e7490

// 回到顶部
#back-top
  @include suspend-button(70px)

.back-hide
  display: none

// 导航到评论
#back-comments
  @include suspend-button(20px)

// 淡出淡入动画
.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s ease

.fade-enter-from,
.fade-leave-to
  opacity: 0

// 主页头部信息
.home-header
  display: flex
  flex-direction: column
  justify-self: center
  align-items: center
  p
    display: flex
    justify-content: center
    color: #888
    text-align: center
  h1
    text-align: center
  .social
    display: flex
    justify-content: space-around
    max-width: 600px
    margin-top: 20px
    width: 100%
    div
      [type="button"]
        --n-bezier: none !important
        --n-bezier-ease-out: none !important
        --n-ripple-duration: none !important
        --n-opacity-disabled: none !important
        --n-wave-opacity: none !important
        box-shadow: 0px 0px 1px rgb(224, 224, 230)
        width: 100px
        border-radius: 5px
      [type="button"]:nth-child(2)
        margin-left: 10px
        --tw-text-opacity: 1
        color: rgb(96 165 250/var(--tw-text-opacity))
      [type="button"]:nth-child(3)
        margin-left: 10px
      [type="button"]:nth-child(4)
        margin-left: 10px

// 主页文章标签
.type
  display: flex
  font-size: 18px
  margin-bottom: 10px // 距离标题的距离
  label
    display: flex
    align-items: center
    background-color: #DBEAFE
    color: #4B8CF7
    border: 0px solid
    border-radius: 5px
    padding: 0 10px 0 10px
    span
      padding-left: 5px
    &:hover
      background-color: #BFDBFE
      color: #4B8CF7
